img {
    height: 30px;
}

body {
    font-family: "Merriweather";
    margin: 0;
}

@media only screen and (max-width: 600px) {
    img {
        height: 20px;
    }
}

a{
    text-decoration: none;
}